<!DOCTYPE html>
<html ng-app="MovieFire">
 
<head>
    <title>Movie Fire</title>
    <link rel="stylesheet" type="text/css" href="app.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
 
    <script type="text/javascript" src="app.js"></script>
    <script src="jquery.toolbar.js"></script>
    

</head>

      
<body ng-controller="MainController" >
    <h1>To-Do List</h1>
    <h3>Add Tasks to your To-Do list </h3>
    <hr/>
    
    
    <form ng-keypress="saveToList($event)" >
        
            <input type="button" onclick="location.href='login.html';" value="My Account" />
            <input type="button" onclick="location.href='newtask.html';" value="New Task" />
            <input type="button" onclick="location.href='app.html';" value="Calender View" />
            <input type="button" onclick="location.href='completed.html';" value="Completed Tasks" />
            <input type="button" onclick="location.href='login.html';" value="Logout" />
    </form>
    
    
    <h4>My Tasks   &nbsp;
                <a href="#" ng-click="wipeIn($index)"style="color:grey" >
                <i class="fa fa-trash" aria-hidden="true"></i></a> </h4>
    <ol id="favMovies">
        <lable ng-hide="movies.length">No content to display...</lable>
      <li ng-repeat="movie in movies">{{movie.name}} 

         
          
    
                &nbsp;&nbsp;[ 
                <a href="#" ng-click="viewDesc($index)"style="color:grey" >
                <i class="fa fa-star" aria-hidden="true" ></i></a>|
          
                <a href="javascript:" ng-click="edit($index)" style="color:grey" >
                <i class="fa fa-cog" aria-hidden="true" ></i></a>|
            
                <a href="#" ng-click="del($index)"style="color:grey" >
                <i class="fa fa-trash" aria-hidden="true"></i></a>|
          
                <a href="#" ng-click="timeCheck($index)"style="color:grey" >
                <i class="fa fa-clock-o" aria-hidden="true"></i></a>|

                <a href="#" ng-click="complete($index)"style="color:grey" > 
                <i class="fa fa-thumbs-up" aria-hidden="true"></i></a>]

        </li>
    </ol>


 </body>
 
    
       
 <body2 ng-controller="secondController" >

     <h5>Completed tasks  &nbsp;
                <a href="#" ng-click="wipe($index)"style="color:grey" >
                <i class="fa fa-trash" aria-hidden="true"></i></a> 
     </h5>
    <ol id="CompTask">
      <lable ng-hide="movies.length">No content to display...</lable>
      <li ng-repeat="movie in movies">{{movie.name}} 
          
         &nbsp; &nbsp; [ 
                <a href="javascript:"  ng-click="editTask($index)"style="color:grey" >
                <i class="fa fa-cog" aria-hidden="true" ></i></a>|
            
                <a href="#" ng-click="delo($index)"style="color:grey" >
                <i class="fa fa-trash" aria-hidden="true"></i></a>|
          
                <a href="#" ng-click="timeComplete($index)"style="color:grey" >
                <i class="fa fa-clock-o" aria-hidden="true"></i></a>|
            
                <a href="#" ng-click="Incomplete($index)"style="color:grey" >
                <i class="fa fa-thumbs-down" aria-hidden="true"></i></a>]

        </li>
 
    </ol>

       <script type="text/javascript" src="app.js"></script> 
   
   </body2>

</html>